.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  
  .background {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  
  .info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
  }
  
  input {
    border: 1px solid #999999;
    border-radius: 22px;
    color: #fff;
    min-width: 250px;
    width: 85%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    background: #2d333b;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
  }
  
  .perfil {
    display: flex;
    margin: 40px 0;
  }
  
  .profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
    object-fit: cover;
  }
  
  .perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
  }
  
  .perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
  }
  
  .perfil p {
    color: #999999;
    font-size: 12px;
    margin: 20px 0 0 0;
  }
  
  .repositorio {
    font-size: 32px;
    color: #fff;
    margin: 12px 0;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .info {
      width: 100%;
      margin-right: 0;
    }
  
    .perfil {
      flex-direction: column;
      align-items: center;
    }
  
    .profile {
      margin-right: 0;
      margin-bottom: 24px;
    }
  
    input {
      width: 100%;
      margin-right: 0;
    }
  
    button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }